# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Build All Targets Release Tag

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  ANDROID_HOME: "/opt/Android/sdk"

jobs:
  build:
    runs-on: self-hosted
    environment: "CI"
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'corretto'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: releaseAll
    - name: Load build artifact list
      run: |
        {
          echo 'BUILD_FILES<<EOF'
          cat build-artifacts.txt
          echo EOF
        } >> $GITHUB_ENV
    - name: Create Release
      uses: softprops/action-gh-release@v2
    - name: Upload build artifacts for container builds
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: ${{ env.BUILD_FILES }}

  push-containers:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: build-artifacts
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Push containers to the container registry
      run: |
        ./scripts/deploy_images.sh

