name: Scheduled Deployment

on:
  schedule:
    - cron: '0 8 * * *'  # 00:00 PST (UTC-8)
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    environment: "Coolify"
    steps:
    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v3
      with:
        webhook_url: ${{ vars.WEBHOOK_URL }}
        webhook_auth_type: "bearer"
        webhook_auth: ${{ secrets.WEBHOOK_AUTH }}
