name: Scheduled Deployment

on:
  schedule:
    - cron: '0 8 * * *'  # 00:00 PST (UTC-8)
  workflow_dispatch:

permissions:
  contents: read

jobs:
  stage:
    runs-on: self-hosted
    environment: "stage"
    env:
      SUPABASE_DB_PASSWORD : ${{ secrets.EDIFIKANA_SUPABASE_DB_PASSWORD  }}
      PROJECT_ID: ${{ secrets.EDIFIKANA_PROJECT_ID }}
      EDIFIKANA_SUPABASE_URL: ${{ secrets.EDIFIKANA_SUPABASE_URL }}
      EDIFIKANA_SUPABASE_KEY: ${{ secrets.EDIFIKANA_SUPABASE_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'corretto'
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      # Link the project to the Supabase CLI
      - run: scripts/edifikana_link_project.sh
      # Build the project. We do this first since building can take a while
      - name: Run assemble with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: edifikana:back-end:assemble
      # Push the DB changes to Supabase
      - run: scripts/edifikana_push_changes.sh
      # Run the integration tests
      - name: Run integration tests with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: edifikana:back-end:integTest --rerun
  notify:
    runs-on: ubuntu-latest
    environment: "Coolify"
    needs: stage
    steps:
    - name: Invoke deployment hook
      uses: distributhor/workflow-webhook@v3
      with:
        webhook_url: ${{ vars.WEBHOOK_URL }}
        webhook_auth_type: "bearer"
        webhook_auth: ${{ secrets.WEBHOOK_AUTH }}
